<div class="login_container">
  <div class="login_content">
    <div class="login_form">
      <h1>Definir Senha</h1>

      <%= form_with url: set_password_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :email, value: @user&.email || params[:email] %>

        <div class="form-group">
          <%= f.label :password, "Senha" %>
          <%= f.password_field :password,
                           class: "form-control",
                           placeholder: "Digite sua senha",
                           required: true %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmar" %>
          <%= f.password_field :password_confirmation,
                           class: "form-control",
                           placeholder: "Confirme sua senha",
                           required: true %>
        </div>

        <div class="form-group">
          <%= f.submit "Definir Senha", class: "button" %>
        </div>
      <% end %>
    </div>
    <div class="welcome">
      <b>
        Bem vindo<br>
        ao<br>
        Camaar
      </b>
    </div>
  </div>
</div>

<% content_for :page_title, "Nova Turma" %>

<%= render 'shared/page_container', title: 'Criar Turma' do %>
  <%= form_with model: @course, url: turmas_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "Nome da Turma" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :code, "Código" %>
      <%= f.text_field :code, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :semester, "Semestre" %>
      <%= f.text_field :semester, class: "form-control" %>
    </div>

    <div style="margin-top: 1rem;">
      <%= f.submit "Criar Turma", class: "button" %>
      <%= link_to "Cancelar", turmas_path, class: "button button-secondary" %>
    </div>
  <% end %>
<% end %>
