<div class="modal-overlay"
     id="modalOverlay"
     data-modal-target="overlay"
     data-action="click->modal#closeOnOverlay"></div>

<div class="modal form-modal" id="modal" data-modal-target="modal">
  <%= form_with model: @form,
                url: "/forms",
                method: :post,
                data: { controller: "create-form", turbo_frame: "_top" } do |f| %>

    <div class="modal-box">

      <div class="field-group">
        <label for="templateSelect">Template:</label>

        <select
          id="templateSelect"
          name="template_id"
          data-create-form-target="select"
          data-action="change->create-form#add"
          class="custom-select"
        >
          <option value="">Template</option>

          <% @templates.each do |template| %>
            <option
              value="<%= template.id %>"
              data-name="<%= template.name %>"
              data-semester="2024.2"
              data-code="CS101"
              data-course-id=1
              data-question-set-id="<%= template.question_set_id %>"
            >
              <%= template.name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="template-info" data-create-form-target="list">
        <div class="template-info-header">
          <span>Nome</span>
          <div class="spacer">
            <span>Semestre</span>
            <span>Código</span>
          </div>
        </div>
         <% @courses.each do |course| %>
          <div class="info-item">
            <input type="checkbox" class="green-checkbox" name="course_ids[]" value="<%= course.id %>" unchecked>
            <div class="info-item-content">
              <div class="item-content">
                <span><%= course.name %></span>
                <div class="spacer">
                  <span><%= course.semester %></span>
                  <span><%= course.code %></span>
                </div>
              </div>
              <div class="divider"></div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <%= f.submit "Enviar", class: "btn-submit" %>
      </div>

    </div>
  <% end %>
</div>
