<% content_for :page_title, "Gerenciamento" %>

<div class="gerenciamento-container" data-controller="modal">

  <%= turbo_frame_tag "form_modal" do %>
    <%= render 'gerenciamento/form_modal' %>
  <% end %>

  <div class="botoes-grid">
    <%= link_to "Importar Dados", '', class: "btn-gerenciamento" %>
    <%= link_to "Editar Templates", templates_path, class: "btn-gerenciamento" %>
    <button type="button"
            class="btn-gerenciamento"
            data-action="click->modal#open"> Enviar Formulários </button>
    <%= link_to "Resultados", forms_path, class: "btn-gerenciamento" %>
  </div>

</div>